*{
    margin: 0;
    pad:0;
    text-align: center;
}
body{
    background-color: #fefae0;
}
h1{
    background-color: #264653;
    color: white;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    font-family: fantasy;
    font-weight: 200;
    font-size: 3rem;

}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.choice:hover{

    cursor: pointer;
  background-color: black;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.scoreboard{
   display: flex;
align-items: center;
justify-content: center;
font-size: 2.5rem;
margin-top: 2rem;
gap: 5rem;
}
#yourscore, #oppscore{
font-size: 4rem;
}
.msgcontainer{
    margin-top: 5rem;
     

}
#msg{
    background-color: black;
    color: white;
    display: inline;
    font-size: 2rem;
    padding: 15px;
    border-radius: 1rem;
}
